<!DOCTYPE html>
<html>
<head>
    <title>DataMaturity - Profile Edit</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://storageaccountb2c.blob.core.windows.net/customui/favicon.ico">
    <link href="https://storageaccountb2c.blob.core.windows.net/customui/bootstrap.min.css" rel="stylesheet" />
    <link href="https://storageaccountb2c.blob.core.windows.net/customui/global.css" rel="stylesheet" />
</head>
<body>
<div class="container unified_container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-center">
                        <h1 id="logoImage"><a href="/" id="yui_3_17_2_1_1536225485000_484"><img src="https://storageaccountb2c.blob.core.windows.net/customui/digitalc.png" alt="DigitalC"></a></h1>
                    </div>
                    <div id="api">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

